
section { 
    padding-top: 5em;
 
}

html {
    scroll-behavior: smooth;
}

.scroll-hidden {
    overflow: hidden;    
}

.modalLabel, .modalInput {
    color:black !important
}

.modalLabel {
    width: 30%
}

.modalInput {
    width: 70%;
}

input:-webkit-autofill, input:-webkit-autofill:focus {  
    transition: background-color 600000s 0s, color 600000s 0s;
  }

  








