<div 
class="modal fade modal"      
id="person-delete-modal-{{person.id}}" tabindex="-1" 
aria-labelledby="textoModalLabel"
aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="d-flex align-items-center justify-content-center m-3">
                <p class="m-0">¿Está seguro de querer eliminar a <b>{{person.name}} {{person.lastName}}</b>?</p>
            </div>          
                    
            <div class="modal-footer d-flex justify-content-between p-2">
                <button 
                    type="button" 
                    class="btn btn-danger"                            
                    data-bs-dismiss="modal"
                    >
                    Cerrar
                </button>
                <button 
                    type="button" 
                    class="btn btn-primary"
                    (click)="deletePerson()"
                    data-bs-dismiss="modal"
                    >
                    Confirmar
                </button>
            </div>        
        </div>  
    </div>
</div>
                


