
fa-icon {
    font-size: 1.3em;
}

#delete-icon {
    color:red;
}

#update-icon {
    color:rgb(36, 95, 184);
}

button {
    background-color: transparent;
    border: none;
}

button:hover {
    transform: scale(1.2)
}

#loading-container {
    margin: 50%;
}
  
.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    
  }

  .container-fluid {
    min-height: 77vh
  }

  @media screen and (min-width:1400px) {
    .container-fluid {
        min-height: 83vh
      }
  }





